body {
    margin: 0;
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande";

}

.screen {
    /* border: 2px solid #e60fea; */
    width: 100%;
    height: 1000px;
}

.header-list {
    /* border: 2px solid #79c514; */
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    /* border: 2px solid #79c514; */
    background-color: #D92B2A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-div {
    /* border: 2px solid #e09b11; */
    width: 17%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-div>img {
    /* border: 2px solid #e09b11; */
    width: 90%;
    height: 70px;
    background-size: contain;
}

.search-div {
    /* border: 2px solid #e09b11; */
    width: 55%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-icon {
    /* border: 2px solid #d210d5; */
    background-color: #fff;
    width: 4%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-input {
    /* border: 2px solid #d210d5; */
    background-color: #fff;
    width: 98%;
    height: 47px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.input-style {
    width: 98%;
    height: 30px;
    outline: none;
    border: none;
    font-size: 17px;
}

.icons {
    /* border: 2px solid #d59010; */
    color: #fff;
    width: 15%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    /* border: 2px solid #d510be; */
    width: 25%;
    height: 40px;
    align-items: center;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.bell {
    /* border: 2px solid #d510be; */
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bag {
    /* border: 2px solid #d510be; */
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    /* border: 2px solid #e2a414; */
    background-color: #D92B2A;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navigation-list {
    /* border: 2px solid #d814e2; */
    width: 97%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/* form here body contain start */
.body {
    /* border: 2px solid #77e214; */
    width: 100%;
    height: 800px;
}

.Home {
    /* border: 2px solid #e2b914; */
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    margin-left: 44px;
    font-size: 14px;
    margin-bottom: 10px;
}

.home-title {
    /* border: 2px solid #e2b914; */
    width: 100%;
    height: 70px;
    font-size: 45px;
    display: flex;
    align-items: center;
    margin-left: 49px;
    font-weight: 700;
}
.highlight{
    /* border: 2px solid #e2b914; */
    width: 95%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.first{
    border: 2px solid #dadcdf;
    width: 18%;
    height: 80px; 
    display: flex; 
    justify-content: space-between;
    font-size: 16px;
    Font-weight: 400;
}
.first-img{
    /* border: 2px solid #e29614; */
    width: 33%;
    height: 70px; 
}
.first-text{
    /* border: 2px solid #e29614; */
    width: 60%;
    height: 70px; 
    display: flex;
    align-items: center; 
}
.first-img > img{
    width: 99%;
    height: 70px;
}